<div class="comment_form">
  <%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= hidden_field_tag :dance_id, @dance.id %>
        <div class="field">
          <%= f.text_area :content, placeholder: "コメントを追加..." %>
        </div>
        <%= f.submit "コメント", class: "btn" %>
  <% end %>
</div>
