<% provide(:title, "#{@stage.name}") %>
<% @comments = @stage.feed_comment(@stage.id) %>
<div class="container">
  <div class="row">
    <% if @stage.images.attached? %>
      <%= render "stage_images", stage: @stage %>
    <% end %>
    <div class="col-5 contents-info">
      <h2 class="contents-name"><%= @stage.name %></h2>
      <h4><%= @stage.info %></h4>
      <div class="contents-date">
        <h5>公演日程：<%= @stage.from_date %>　〜　<%= @stage.until_date %></h5>
      </div>
    </div>
    <div class="col-12 edit-button">
      <div class="change-stage">
        <% if logged_in? %>
          <%= link_to "編集", edit_stage_path(@stage) %>　
        <% end %>
      </div>
      <% @stage_tags.each do |tag| %>
        <%= link_to tag.tag_name, tag_stages_path(tag_id: tag.id) %>
      <% end %>
      <p>
        <% if @stage.lists %>
          <% @stage_lists.each do |list| %>
            <%= link_to list.list_name, list_stages_path(list_id: list.id) %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="col-12 comment">
      <%= render "comments/feed_comments" %>
      <%= render "comments/new" %>
    </div>
  </div>
</div>
