<% provide(:title, "#{@stage.name}") %>
<% @comments = @stage.feed_comment(@stage.id) %>
<div class="container">
  <div class="row">
    <% if @stage.images.attached? %>
      <%= render "stage_images", stage: @stage %>
    <% end %>
    <div class="col-5 contents-info">
      <h2 class="contents-name"><%= @stage.name %></h2>
      <h4><%= @stage.info %></h4>
      <div class="contents-date">
        <h5>公演日程：<%= @stage.from_date %>　〜　<%= @stage.until_date %></h5>
      </div>
    </div>
    <div class="col-12 edit-button">
      <div class="change-stage">
        <% if logged_in? %>
          <%= link_to "編集", edit_stage_path(@stage) %>　
        <% end %>
      </div>
      <p>
        #Tag:
        <% @stage_tags.each do |tag| %>
          <%= link_to tag.tag_name, tag_stages_path(tag_id: tag.id) %>
        <% end %>
      </p>
      <p>
        #List: 
        <% @stage_lists.each do |list| %>
          <%= link_to list.list_name, "../lists/#{list.id}" %>
        <% end %>
      </p>
    </div>
    <div class="col-12 comment">
      <%= render "comments/feed_comments" %>
      <%= render "comments/new" %>
    </div>
    <div class="relate_contents">
      <% @stage_tags.each do |stage_tag| %>
        <% stage_tag.stages.each do |relate_stage| %>
          <% unless relate_stage === @stage %>
              <% if relate_stage.images.attached? %>
            <div class="relate_image">
              <%= link_to image_tag(relate_stage.images.first, class: "stage_contents_image "), relate_stage %>
              <%= link_to relate_stage.name, relate_stage, class: "result_name" %>
            </div>
              <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
