<% provide(:title, "#{@stage.name}") %>
<div class="container">
  <div class="row">
    <% if @stage.images.attached? %>
      <%= render "stage_images", stage: @stage %>
    <% end %>
    <div class="col-5 stage-info">
      <h2 class="stage-name"><%= @stage.name %></h2>
      <h4><%= @stage.info %></h4>
      <div class="stage-date">
        <h5>公演日程：<%= @stage.from_date %>　〜　<%= @stage.until_date %></h5>
      </div>
    </div>
    <div class="col-12 edit-button">
      <div class="change-stage">
        <% if logged_in? %>
          <%= link_to "編集", edit_stage_path(@stage) %>　
        <% end %>
      </div>
      <% @stage_tags.each do |tag| %>
        <%= tag.tag_name %>
      <% end %>
    </div>
  </div>
</div>
