<% provide(:title, "#{@music.name}") %>
<% @comments = @music.feed_comment(@music.id) %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/<%= @music.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-12 edit-button">
      <div class="change-music">
        <% if logged_in? %>
          <%= link_to "編集", edit_music_path(@music) %>　
        <% end %>
      </div>
    </div>
    <div class="col-12 contents-info">
      <h2 class="contents-name"><%= @music.name %></h2>
      <h4><%= @music.info %></h4>
      <div class="contents-date">
        <h5>リリース：<%= @music.date %></h5>
      </div>
      <p>
        #Tag:
        <% @music_tags.each do |tag| %>
          <%= link_to tag.tag_name, tag_musics_path(tag_id: tag.id) %>
        <% end %>
      </p>
      <p>
        #List: 
        <% @music_lists.each do |list| %>
          <%= link_to list.list_name, "../lists/#{list.id}" %>
        <% end %>
      </p>
    </div>
    <div class="col-12 comment">
      <%= render "comments/feed_comments" %>
      <%= render "comments/new" %>
    </div>
  </div>
</div>
