<header class="navbar navbar-fixed-top">
 <div class="container">
<!-- ナビゲーションバー -->    
    <nav class="navbar navbar-light bg-light fixed-top">
      <%= link_to "top", root_url, class: "navbar-brand" %>
      <%= search_form_for @q, url: search_dances_path do |f| %>
        <%= f.label :name_cont,"Keyword" %>
        <%= f.search_field :name_cont %>
        <%= f.submit "検索" %>
      <% end %>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <!-- ドロップダウンタイプ -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to 'new_music', '/musics/new', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'new_dance', '/dances/new', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'new_stage', '/stages/new', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'new_artist', '/artists/new', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', login_path, class: "nav-link" %>
            </li>
          <% end %>
            <li class="nav-item">
              <%= link_to '再生リスト', '/lists/', class: "nav-link" %>
            </li>
        </ul>
      </div>
    </nav>
 </div>
</header>